*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #cacdce;
}

.wrapper {
  /*width: 60vw;*/
  border-style: solid;
  margin-top: 1.5em;
  background:  #f0f5f2;
  border-radius: 4px;
  border: 2px solid #4fe0fc;
  color: #4fe0fc;
  padding: 1.1em;
  font-size: 1.1em;
}

.btnBlock {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

button {
  background: #f0f5f2;
  border-radius: 4px;
  border: 2px solid #4fe0fc;
  color: #4fe0fc;
  padding: 16px 20px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background: #fff;
}

table>tbody>tr:nth-of-type(odd) {
  background-color: #cacdce;
  color: #f0f5f2;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 7.5em;
  display: inline-block;
}
@media (min-width: 700px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 700px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {

  border-radius: 4px;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #94b7b4;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 700px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #4fe0fc;
  text-transform: capitalize;
}
